.d-b {
  display: block;
}
.d-i {
  display: inline;
}
.d-ib {
  display: inline-block;
}
.d-n {
  display: none;
}
.hidden {
  visibility: hidden;
}
.fl-r {
  float: right;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.bdrs-2 {
  border-radius: 2px;
}
.bdrs-5 {
  border-radius: 5px;
}
.bdrs-10 {
  border-radius: 10px;
}
.bdrs-100 {
  border-radius: 100px;
}
.w100p {
  width: 100%;
}
.h100p {
  height: 100%;
}
.max-w100p {
  max-width: 100%;
}
.w50p {
  width: 50%;
}
.w30p {
  width: 30%;
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.pd-5 {
  padding: 5px;
}
.pd-10 {
  padding: 10px;
}
.pd-15 {
  padding: 15px;
}
.pd-20 {
  padding: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pt-0 {
  padding-top: 0;
}
.pl-0 {
  padding-left: 0;
}
.d-flex {
  display: flex;
}
.d-i-flex {
  display: inline-flex;
}
.flex-1 {
  flex: 1;
}
.shrink-0 {
  flex-shrink: 0;
}
.shrink-1 {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
}
.space-btw {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.al-start,
.flex-start {
  align-items: flex-start;
}
.al-c,
.align-center {
  align-items: center;
}
.al-end {
  align-items: flex-end;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.pos-s {
  position: -webkit-sticky;
  position: sticky;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.btm-0 {
  bottom: 0;
}
.z--1 {
  z-index: -1;
}
.z-1 {
  z-index: 1;
}
.z-10 {
  z-index: 10;
}
.z-100 {
  z-index: 100;
}
.pos-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.fz-12 {
  font-size: 12px;
}
.fz-13 {
  font-size: 13px;
}
.fz-14 {
  font-size: 14px;
}
.fz-15 {
  font-size: 15px;
}
.fz-16 {
  font-size: 16px;
}
.fz-18 {
  font-size: 18px;
}
.fz-20 {
  font-size: 20px;
}
.fz-25 {
  font-size: 25px;
}
.fz-30 {
  font-size: 30px;
}
.fz-50 {
  font-size: 50px;
}
.fz-60 {
  font-size: 60px;
}
.fw-b {
  font-weight: bold;
}
.lh-1 {
  line-height: 1;
}
.lh-15 {
  line-height: 1.5;
}
.lh-17 {
  line-height: 1.7;
}
.lh-2 {
  line-height: 2;
}
.op-0 {
  opacity: 0;
}
.op-1 {
  opacity: 0.1;
}
.ev-n,
.no-event {
  pointer-events: none;
}
.bd-n {
  border: none;
}
.cursor-ban {
  cursor: not-allowed;
}
.ov-h {
  overflow: hidden;
}
.ov-a {
  overflow: auto;
}
.nowrap {
  white-space: nowrap;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.ta-j {
  text-align: justify;
}
.wm-rl {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
.wm-lr {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
.text-shadow-a {
  text-shadow: 0 0px 1px #aaa;
}
.trans-200 {
  transition: all ease 200ms;
}
.trans-300 {
  transition: all ease 300ms;
}
.trans-500 {
  transition: all ease 500ms;
}
.color-1 {
  color: #6699FF;
}
.black {
  color: #000;
}
.gray-3 {
  color: #333;
}
.gray-6 {
  color: #666;
}
.gray {
  color: #999;
}
.gray-a {
  color: #aaa;
}
.gray-b {
  color: #bbb;
}
.gray-c0 {
  color: #C0C4CC;
}
.el-label-1 {
  color: #99a9bf;
}
.white {
  color: #fff;
}
.white-5 {
  color: rgba(255, 255, 255, 0.5);
}
.bg-black-3 {
  background: rgba(0, 0, 0, 0.3);
}
.bg-black-5 {
  background: rgba(0, 0, 0, 0.5);
}
.bg-black {
  background: #000;
}
.bg-gray-3 {
  background: #333;
}
.bg-gray {
  background: #999;
}
.bg-gray-e {
  background: #eee;
}
.bg-white {
  background: #fff;
}
.bg-white-5 {
  background: rgba(255, 255, 255, 0.5);
}
.bg-white-9 {
  background: rgba(255, 255, 255, 0.9);
}
.bg-n {
  background: none;
}
.red-1 {
  color: #f51;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", 'Segoe UI', SegoeUI, "Microsoft YaHei", "微软雅黑", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #333;
  background: #f7f7f7;
  letter-spacing: 1px;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #6699FF;
}
ul {
	padding: 0;
}
h2, h3 {
  font-weight: normal;
}
.op-touch {
  cursor: pointer;
}
.op-touch:hover {
  opacity: .8;
}
.ti-2 {
  text-indent: 2em;
}
.ta-l {
  text-align: left;
}
.fw-500 {
  font-weight: 500;
}
.white-8 { color: rgba(255, 255, 255, .8); }
.op-5 { opacity: .5; }
.op-8 { opacity: .7; }
.mr-30 {
  margin-right: 30px;
}
.line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.line-2, .line-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.line-3 {
  -webkit-line-clamp: 3;
}